<h2>Hello, <%= @user.name %>! </h2>
<h3>Daily Task List</h3>

<% @tasks.each do |task| %>

<section>
  <ul>
    <li>
      <% if task.completion_status == true %>
        <strike><%= label_tag(task.completion_status, link_to(task.title, show_path(task.id), :class => "font-style")) %></strike>
      <% else %>
        <%= label_tag(task.completion_status, link_to(task.title, show_path(task.id), :class => "font-style")) %>
      <% end %>
    </li>

    <ul>
      <li><%= button_to 'Complete', complete_path(task, params[:user_id]), :class => 'button', method: :patch %></li>
      <li><%= button_to 'Edit', edit_path(task, params[:user_id]), :class => 'button', method: :get %></li>
      <li><%= button_to 'Delete', delete_path(task, params[:user_id]), :class => 'button',
            method: :delete,
            data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </ul>
</section>

<% end %>

</form>
