<h3>Daily Task List</h3>

<% @tasks.each do |task| %>

<section>
  <ul>
    <li class="font-style">
      <!-- <%= check_box_tag(task.completion_status) %> -->
      <%= label_tag(task.completion_status, link_to(task.title, show_path(task.id))
      ) %>
    </li>

    <ul>
      <li><%= button_to 'Complete', complete_path(task), :class => 'button', method: :patch, data: { flash: "Task has been updated"} %></li>
      <li><%= button_to 'Edit', edit_path(task), :class => 'button' %></li>
      <li><%= button_to 'Delete', delete_path(task), :class => 'button',
            method: :delete,
            data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </ul>
</section>

<% end %>

</form>
