<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <nav class="navigation-container">
      <ul>
        <li><h1><%= link_to("Home", index_path()) %></li>
        <li><h1><%= link_to("Add New Task", new_path()) %></h1></li>
      </ul>
    </nav>

  </header>


<%= yield %>

<footer>
  <p>
    Copyright 2016, Rachel Pavilanis
  </p>

</footer>

</body>
</html>
