<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <nav>
      <img id="logo" src="/Logo.png" alt="Logo">
      <div class="navigation-container">
        <ul>
          <li><h1><%= link_to("Login via Github", "/auth/github") %></li>
          <li><h1><%= link_to("Logout", 'destroy-sessions', :controller => "sessions", :action => :destroy) %></h1></li>
          <!-- <li><h1><%= link_to("Add New Task", new_path((params[:user_id].to_i))) %></h1></li> -->
        </ul>
      </div>
    </nav>

  </header>


<%= yield %>

<footer>
  <p>
    Copyright 2016, Rachel Pavilanis
  </p>

</footer>

</body>
</html>
